<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../css/style.css" />
    <title>Register</title>
  </head>
   <body
    class="min-vh-100 d-flex flex-column align-items-center justify-content-center"
    id="logInBgImg">
    <div class="row border w-100 bg-toRight-gradient" style="min-height: 100vh;">
      <div class="col-6 d-block d-none d-md-flex"></div>
      <div class="col-12 col-md-6 py-4 d-flex justify-content-center align-items-center">
        <div
          class="w-100 w-md-75 d-flex flex-column gap-3 p-4 p-md-5 rounded-4 shadow border bg-low-opacity"
          id="loginDiv"
          style="max-width: 400px;"
        >
            <h2 class="text-center text-dark">Login</h2>
            <span
              id="invalidCreds"
              class="text-center text-danger d-none fw-bold fs-5"
              >Invalid Credentials</span
            >
            <div class="form-floating">
              <input
                type="text"
                name="userName"
                class="form-control"
                id="userName"
                placeholder="User Name"
              />
              <label for="userName">User Name</label>
              <span id="userNameError" class="text-danger d-none"
                >Invalid Username!!!</span
              >
            </div>
            <div class="form-floating">
              <input
                type="password"
                name="password"
                class="form-control"
                id="password"
                placeholder="Password"
              />
              <label for="password" class="text-center">Password</label>
              <span id="passwordError" class="text-danger d-none"
                >Invalid Password!!!</span
              >
            </div>
            <div class="d-flex justify-content-evenly mb-3">
              <button
                class="btn btn-primary w-100 py-2"
                id="loginBtn"
              >
                <span id="btnText">Login</span>
                <div
                  class="spinner-border spinner-border-sm d-none"
                  role="status"
                  id="spinner"
                >
                </div>
              </button>
            </div>
          </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://code.jquery.com/jquery-4.0.0.min.js"></script>
    <script src="../script/script.js"></script>
</body>
</html>
