<footer class="bg-dark text-white">
  <div class="footer container py-5">
    <div class="row">
      <div class="col">
        <h5>About us</h5>
        <ul class="list-unstyled">
          <li>PO Box 12300 Collins Street,</li>
          <li>Victoria 9000</li>

          <li>(+00) 1234 5678 90</li>
          <li>email@2020.com</li>
        </ul>
      </div>

      <div class="col">
        <h5>Customer</h5>
        <ul class="list-unstyled">
          <li>About us</li>
          <li>Brands</li>
          <li>Contact us</li>
          <li>FAQs</li>
          <li>Search</li>
        </ul>
      </div>

      <div class="col">
        <h5>Product</h5>
        <ul class="list-unstyled">
          <li>Orders</li>
          <li>Downloads</li>
          <li>Addresses</li>
          <li>Account details</li>
        </ul>
      </div>
      <div class="col">
        <h3>My account</h3>

        <ul class="list-unstyled">
          <li>The board</li>
          <li>Accessories</li>
          <li>FAQs</li>
          <li>Terms & Conditions Wishlist</li>
          <li>Wishlist</li>
        </ul>
      </div>
      <div class="col">
        <h5>Subscribe</h5>
        <p>Promotions, new products and sales, Directly to your inbox</p>
        <input class="form-control" placeholder="Email" />
      </div>
    </div>
  </div>

  <div class="text-center bg-dark">
    <p class="py-3">© 2026, Surprise. Powered by Shopify</p>
  </div>
</footer>
