<div
  class="container-fluid border-bottom border-dark text-center fs-3 fw-bold mt-0"
>
  Categories
</div>
<div class="container-fluid d-flex justify-content-start">
  <div>
    <select
      name="category"
      id="categoryFilter"
      class="form-control rounded-2 text-center"
    >
      <option value="all" selected>All</option>
    </select>
  </div>
</div>
<div
  class="container-fluid d-flex flex-wrap justify-content-center gap-2 p-2 pb-3"
  id="productsContainer"
>
  <!-- cards -->
</div>
