      <!-- banner -->
      <!-- <div
        class="row w-100 bg-black gap-4 gap-md-0 rounded-5 justify-content-evenly align-items-center px-3 py-4"
        id="featuredProductsBanner"
        style="min-height: 50vh"
      >
        <div class="col-12 col-md-5 text-center">
          <img
            src="./assects/iphone-17.png"
            alt="iphonePNG"
            class="img-fluid"
            style="height: 50vh"
          />
        </div>
        <div class="col-12 col-md-5 text-start text-white">
          <h2>Iphone 17 Pro Max</h2>
          <p class="fs-4 fw-semibold">All out Pro.</p>
          <p class="text-secondary">
            6.9-inch 120Hz ProMotion OLED display, <br />
            a heat-forged aluminum body, and the A19 Pro chip with 12GB of RAM
          </p>
          <p class="fs-5 fw-lighter">
            From ₹134900.00<sup class="fw-bold">±</sup>
          </p>
          <div class="btn-group">
            <button class="btn btn-outline-light px-3 py-2">Read more</button>
            <button class="btn btn-light px-3 py-2">Buy Now</button>
          </div>
        </div>
      </div> -->

      <!-- avaliable products -->
      <p class="w-100 text-center fs-3 fw-bold mb-0">Avaliable Products</p>
      <div
        class="container-fluid border-top border-dark d-flex flex-wrap justify-content-center gap-3 py-4"
        id="productsContainer"
      >
        <!-- cards -->

      </div>