<div
  class="container-fluid border-bottom border-dark text-center fs-3 fw-bold mt-0"
>
  Orders
</div>
<div class="container-fluid d-flex justify-content-end">
  <div>
    <select
      name="category"
      id="statusList"
      class="form-control rounded-2 text-center"
    >
      <option value="0" selected>All</option>
      <option value="1">Pending</option>
      <option value="2">Shipped</option>
      <option value="3">Delivered</option>
      <option value="4">Canceled</option>
    </select>
  </div>
</div>

<div class="container-fluid d-flex flex-wrap justify-content-center gap-2 pb-3">
    <div class="row g-3" id="ordersContainer">
      <!-- Order Item Card -->
       

    </div>
</div>
