<div>
  <img src="./assects/qr.webp" class="" height="280" width="280" alt="qr.jpg" />
</div>
<div class="pt-4 text-center" style="max-width: 300px">
  <h5 class="fw-semibold mb-3">Log in to Telegram by QR Code</h5>
  <ol class="list-group list-group-numbered text-start">
    <li class="list-group-item border-0">Open Telegram on your phone</li>
    <li class="list-group-item border-0">
      Go to <b>Settings > Devices > Link Desktop Device</b>
    </li>
    <li class="list-group-item border-0">
      Point your phone at this screen to confirm login
    </li>
  </ol>
</div>
<div class="mt-3" style="max-width: 300px">
  <button
    class="btn btn-outline-light text-primary fw-bold w-100 p-2 rounded-3"
    id="phoneNumberLogin"
  >
    LOG IN BY PHONE NUMBER
  </button>
</div>
